.root {
  @apply relative max-h-full;

  &:hover {
    & .productBg:before{
      transform: scale(0.99);
    }

    & .productImage{
      transform: scale(1.15)
    }
  }

  &:nth-child(3n + 1) .productBg{
      @apply bg-violet;
  }

  &:nth-child(6n + 3) .productBg{
      @apply bg-pink;
  }
  &:nth-child(6n + 5) .productBg{
      @apply bg-blue;
  }
  &:nth-child(6n + 6) .productBg{
      @apply bg-cyan;
  }
}

.productImage{
    @apply transition-transform block duration-700;
}

.productTag {
  @apply absolute top-0 left-0 z-20;
  & > * {
    font-size: 1rem;
    letter-spacing: 0.4px;
  }
}

.productTitle {
  @apply font-bold text-xl;
  line-height: 2.2rem;

  & > * {
    @apply py-4 px-6 bg-primary;
    box-decoration-break: clone;
  }
}

.productPrice {
  @apply block mt-2 pb-4 pt-2 px-6 font-semibold text-sm bg-primary w-max;
  letter-spacing: 0.4px;
}

.productBg {
  @apply absolute inset-0 z-0;
  background-color: #212539;

  &:before{
    @apply block w-full h-full bg-repeat-space transition-transform duration-700;
    content: '';
    background-image: url("/product-pattern-bg.svg");
  }
}
